<h1 class="center">Bem vindo ao Blog TecnoComp+</h1>
<p class="p-text">Utimas Noticias:</p>

<main>
  <app-card
  tituloNoticia="Primeira Noticia Componente"
  nomeAutor="Gabriel Sena"
  imagemNoticia="../../../assets/Tecnocomp+.png"
  descricaoNoticia="Testando 1 2 3"
  >  
  </app-card>

  <app-card
  tituloNoticia="Segunda Noticia Componente"
  nomeAutor="Nathalia Nogueira"
  imagemNoticia="../../../assets/teste.jpg"
  descricaoNoticia="Testando 1 2 3 4 5"
  >  
  </app-card>
  
  <app-card
  tituloNoticia="Terceira Noticia Componente"
  nomeAutor="Jorge Mickael"
  imagemNoticia="../../../assets/Tecnocomp+.png"
  descricaoNoticia="Saudades dela"
  >  
  </app-card>

  <app-card
  tituloNoticia="Quarta Noticia Componente"
  nomeAutor="Henrique Galvim"
  imagemNoticia="../../../assets/Tecnocomp+.png"
  descricaoNoticia="A vida é foda"
  > </app-card>
  
  <app-card
  tituloNoticia="Quinta Noticia Componente"
  nomeAutor="Matheus Grana"
  imagemNoticia="../../../assets/Tecnocomp+.png"
  descricaoNoticia="Cheguei atrasado"
  > </app-card>
</main>
