h1 {
    margin-top: 1rem;
}

.p-text {
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    color: rgb(5, 5, 6);
}

/* @media (max-width: 425px) {
    main{
        grid-template-columns: auto;
    }
} */